@keyframes translate-infinite {
  100% {
    transform: translateX(calc(-180px * 15));
  }
}

ul.lane {
  width: calc(180px * 30);
}

li.laneItem {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: translate-infinite 40s linear alternate-reverse infinite;
}
