@keyframes translate-infinite {
  100% {
    transform: translateX(calc(var(--laneItemLength) * 15 * -1));
  }
}

ul.lane {
  width: calc(var(--laneItemLength) * 30);
}

li.laneItem {
  width: var(--laneItemLength);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: translate-infinite 40s linear alternate-reverse infinite;
}
